<footer class="footer">
    <div class="footer-body">
        <ul class="left-panel list-inline mb-0 p-0">
            <li class="list-inline-item d-print-none">
                <a href="">Privacy Policy</a>
            </li>
            <li class="list-inline-item d-print-none">
                <a href="">Terms of Use</a>
            </li>
            <li class="list-inline-item">
                © @DateTime.Now.Year Enhanced Performance Tracking System (ePTS)
            </li>
            <li class="list-inline-item">
                <span class="d-md-inline d-block">Made with <i class="bi bi-heart-fill"></i> by <a href="https://edc.org">Education Development Center, Inc</a>.</span>
            </li>
        </ul>
    </div>
</footer>