@using ePTS.Web.Extensions;

<aside class="sidebar sidebar-base sidebar-transparent sidebar-default sidebar-white navs-pill d-print-none">
    <!-- Sidebar Header Start -->
    <div class="sidebar-header d-flex align-items-center justify-content-start">
        <a href="" class="navbar-brand">
            <!--Logo Start-->
            <div class="logo-main">
                <div class="logo-normal">
                    EDC
                </div>
                <div class="logo-mini">
                    EDC
                </div>
            </div>
            <!--Logo End-->
            <!--Logo Text Start-->
            <h4 class="logo-title">ePTS</h4>
            <!--Logo Text End-->
        </a>
        <!--Sidebar Toggle Start-->
        <div class="sidebar-toggle shadow-lg" data-toggle="sidebar" data-active="false">
            <i class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
                @*<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.25 12.2744L19.25 12.2744" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M10.2998 18.2988L4.2498 12.2748L10.2998 6.24976" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>*@
            </i>
        </div>
        <!--Sidebar Toggle End-->
    </div>
    <!-- Sidebar Header End -->
    <!-- Sidebar Body Start -->
    <div class="sidebar-body pt-0 data-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
        <div class="sidebar-list">
            <!-- Sidebar Menu Start -->
            <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
                <!-- Home Section -->
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive(null, "Home", "Index")" asp-area="" asp-controller="Home" asp-action="Index" aria-current="page">
                        <i class="fs-5 bi bi-house-door-fill"></i>
                        <span class="item-name">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive(null, "Organizations", "Index")" asp-area="" asp-controller="Organizations" asp-action="Index" aria-current="page">
                        <i class="fs-5 bi bi-buildings-fill"></i>
                        <span class="item-name">Schools</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a policy="RequireAdministratorRole" class="nav-link @Html.IsActive("Settings", "Home", "Index")" asp-area="Settings" asp-controller="Home" asp-action="Index" aria-current="page">
                        <i class="fs-5 bi bi-gear-fill"></i>
                        <span class="item-name">Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a policy="RequireCreateRole" class="nav-link @Html.IsActive("Settings", "Users", "Index")" asp-area="Settings" asp-controller="Users" asp-action="Index" aria-current="page">
                        <i class="fs-5 bi bi-person-badge-fill"></i>
                        <span class="item-name">Users</span>
                    </a>
                </li>
                
                
            </ul>
            <!-- Sidebar Menu End -->
        </div>
    </div>
    <!-- Sidebar Body End -->
    <div class="sidebar-footer"></div>
</aside>
