<footer class="footer">
    <div class="footer-body">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <img height="40px" class="float-start" src="~/images/usaid-logo.png" />
            </div>
            <div class="flex-grow-1 ms-3">
                @*This web application ePTS is made possible by the support of the American People through the United States Agency for International Development (USAID). The contents of this web application are the sole responsibility of Education Development Center, Inc. (EDC) and the Ministry of Education and do not necessarily reflect the views of USAID or the United States Government.*@ © @DateTime.Now.Year Enhanced Performance Tracking System (ePTS). <span class="d-md-inline d-block">Made with <i class="bi bi-heart-fill"></i> by <a href="https://edc.org">Education Development Center, Inc</a>.</span>
            </div>
        </div>
        

    </div>
</footer>