<div class="position-relative iq-banner hide d-print-none">
    <!-- Navbar Header Start -->
    <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar navs-sticky">
        <div class="container-fluid navbar-inner">
            <a href="#" class="navbar-brand">
                <!--Logo Start-->
                <div class="logo-main">
                    <div class="logo-normal">
                        EDC
                    </div>
                    <div class="logo-mini">
                        ePTS
                    </div>
                </div>
                <!--Logo End-->
                <h4 class="logo-title">ePTS</h4>
            </a>
            <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
                <i class="icon">
                    @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill icon-20" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>*@
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill icon-20" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                    @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill icon-20" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z" />
                    </svg>*@
                    @*<svg width="20px" class="icon-20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
                    </svg>*@
                </i>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <span class="mt-2 navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="mb-2 navbar-nav me-auto align-items-center navbar-list mb-lg-0">
                    <li class="nav-item me-1">
                        <img height="43px" src="~/images/moe-logo-header.png" />
                    </li>

                    <li class="nav-item">
                        <div class="caption me-3 d-none d-md-block">
                            <h6 class="mb-0 caption-sub-title">Enhanced Performance Tracking System</h6>
                            <p class="mb-0 caption-sub-title">Ministry of General Education</p>
                            @*<h6 class="mb-0 caption-title">Welcome</h6>
                            <p class="mb-0 caption-sub-title">to ePTS</p>*@
                        </div>

                    </li>
                </ul>
                <ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar Header End -->
    <!-- Nav Header Component Start -->
    <div class="iq-navbar-header nav-bg-color mb-5" style="height: 100px;">
    </div>
    <!-- Nav Header Component End -->
</div>