@using Microsoft.AspNetCore.Identity
@using ePTS.Entities.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="me-2 me-xl-2">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-primary btn-sm d-flex gap-2 align-items-center">
                    <i class="bi bi-box-arrow-in-right"></i> Logout
                </button>
            </form>
        </li>
        <li>
            <div class="caption me-3 d-none d-md-block ">
                <h6 class="mb-0 caption-title">@UserManager.GetUserAsync(User).Result?.UserName!</h6>
                @*<p class="mb-0 caption-sub-title">Role</p>*@
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>*@
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
