@model ePTS.Entities.Gradebooks.GradebookAssessment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gradebook Assessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="main-form" class="needs-validation mb-3" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradebookAssessmentId" />
            <input type="hidden" asp-for="GradebookId" value="@ViewBag.GradebookId" />
            <input type="hidden" asp-for="GradebookAssessmentPeriodId" value="@ViewBag.GradebookAssessmentPeriodId" />
            <div class="form-group required">
                <label asp-for="RegistrationDate" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="RegistrationDate" autocomplete="off" type="text" class="form-control date" placeholder="Select Registration Date" required />
                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                </div>
                <div class="form-text">Year-Month-Day (YYYY-MM-DD)</div>
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessedFemale" class="control-label"></label>
                <input asp-for="AssessedFemale" class="form-control" />
                <span asp-validation-for="AssessedFemale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessedMale" class="control-label"></label>
                <input asp-for="AssessedMale" class="form-control" />
                <span asp-validation-for="AssessedMale" class="text-danger"></span>
            </div>
            <div class="row pt-0 mb-3 align-content-end text-end">
                <div class="col-sm-12">
                    <a asp-action="Index" id="cancelbutton" asp-route-id="@ViewBag.ParentId" class="btn btn-outline-secondary me-1 cancel-button">
                        <i class="bi bi-x-lg" aria-hidden="true"></i> Cancel
                    </a>
                    <button id="submitbutton" type="submit" class="btn btn-primary save-button" data-style="expand-left" data-spinner-color="black">
                        <i class="bi bi-check2" aria-hidden="true"></i> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Styles {
    @{
        await Html.RenderPartialAsync("_EditStylesPartial");
        <link href="~/lib/tom-select/dist/css/tom-select.min.css" rel="stylesheet">
        <link href="~/lib/tom-select/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet">
        <link href="~/lib/vanillajs-datepicker/dist/css/datepicker.css" rel="stylesheet" />
        <link href="~/lib/vanillajs-datepicker/dist/css/datepicker-bs5.min.css" rel="stylesheet" />
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_EditScriptsPartial");

    }

    <script src="~/lib/tom-select/dist/js/tom-select.popular.min.js"></script>
    <script src="~/lib/vanillajs-datepicker/dist/js/datepicker.min.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            var validator = $('#main-form').validate({ /* settings */ });
            $('#submitbutton')
                .on('click', function (e) {
                    // prevents default submit
                    e.preventDefault();

                    var form = $('#main-form');
                    if (form.valid()) {
                        // activates button 'loading..' style and disables submit button after one click
                        $('#submitbutton').addClass('disabled');
                        $(".save-button")
                            .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...`);
                        // disable cancel button after submit
                        $('#cancelbutton').addClass('disabled');
                        // submit form
                        form.submit();
                    }
                    else {
                        // if form is valid submits, else focus to invalid fields
                        validator.focusInvalid();
                    }
                });


            const inputs = document.querySelectorAll('.date');

            for (let i = 0; i < inputs.length; i++) {
                const input = inputs[i];
                //new Datepicker(input);
                new Datepicker(input, {
                    autohide: true,
                    //format: 'yyyy-mm-dd',
                    updateOnBlur: false,
                    buttonClass: 'btn',
                });
            }
        });
    </script>
}