@model ePTS.Entities.Assessments.AssessmentPerformanceLevel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AssessmentPerformanceLevel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <!--fk select start-->
                <label asp-for="GradebookAssessmentId" class="control-label"></label>
                <select asp-for="GradebookAssessmentId" class ="form-control" asp-items="ViewBag.GradebookAssessmentId"></select>
                <!--fk select end-->
            </div>
                    <!--Add Date here-->
            <div class="form-group">
            <!--input start-->
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                <!--input end-->
            </div>
            <div class="form-group">
            <!--fk select start-->
                <label asp-for="RefPerformanceLevelId" class="control-label"></label>
                <select asp-for="RefPerformanceLevelId" class ="form-control" asp-items="ViewBag.RefPerformanceLevelId"></select>
                <!--fk select end-->
            </div>
            <div class="form-group">
            <!--fk select start-->
                <label asp-for="RefSexId" class="control-label"></label>
                <select asp-for="RefSexId" class ="form-control" asp-items="ViewBag.RefSexId"></select>
                <!--fk select end-->
            </div>
            <div class="form-group">
            <!--input start-->
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
                <!--input end-->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
