@{
    ViewData["Title"] = "Index";
}

<div class="container px-5 text-center">
    <h1 class="display-4">Settings</h1>
    <div class="px-3">
        <i class="bi bi-gear-fill display-1 text-muted"></i>
    </div>
    <p class="lead">Coming Soon!</p>
</div>
